:root {
  --BMR: #434443; /* baskın metin rengi */
  --bg-color: #2e2f42; /* başlık rengi ve tüm arka plan rankleri*/
  --logo-color: #4e5ae5; /* logo-web rengi*/
  --hover-focus-color: #404bbf;
  --surface: #fff;
  --button-bg-hover: #404bbf;
}

body {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: var(--BMR);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--surface);
  margin: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--bg-color);
  font-weight: 700;
}

.logo-web {
  color: var(--logo-color);
  font-weight: 700;
}

.links,
.top-line,
.contact {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-line a,
.contact a {
  color: var(--bg-color);
  text-decoration: none;
  font-weight: 500;
}

.top-line a:hover,
.top-line a:focus,
.contact a:hover,
.contact a:focus {
  color: var(--hover-focus-color);
  outline: none;
}

.contact,
.top-line {
  list-style: none;
}

.hero {
  text-align: center;
  background-color: var(--bg-color);
}

.hero-title {
  background-color: var(--bg-color);
  color: var(--surface);
  padding: 200px 300px;
  display: block;
  font-weight: 700;
  line-height: 1.2;
  border-radius: 6px;
}

.button {
  color: var(--surface);
  background-color: #4d5ae5;
  padding: 16px 32px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1;
}

.button:hover,
.button:focus {
  background-color: var(--button-bg-hover);
  color: var(--surface);
  outline: none;
}

.logo-footer-web {
  color: var(--logo-color);
}

.person-name,
.role {
  color: inherit;
}

.portfolio-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio-item-title,
.portfolio-item-text {
  color: inherit;
}

.logo-footer {
  color: #f4f4fd;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.footer-all {
  background-color: var(--bg-color);
  padding: 100px 200px;
  display: block;
  font-weight: 700;
}

.footer-text {
  color: #f4f4fd;
  text-align: left;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: var(--bg-color);
  text-align: center;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--bg-color);
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--bg-color);
}

.team img {
  width: 264px;
  height: 260px;
}

.portfolio-item img {
  width: 360px;
  height: 300px;
}
